body {
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
}

/*top navigation bar*/
.topnav {
    overflow: hidden;
    background-color: DodgerBlue;
    width: 100%;
    color: #ffffff;
}

.topnav a {
    float: left;
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
}

.topnav a:hover {
    background-color: #ffffff;
    color: white;
}

.topnav a.active {
    background-color: DodgerBlue;
    color: white;
}

/*bottom navigation bar*/
.navbar {
    overflow: hidden;
    background-color: #ffffff;
    position: fixed;
    bottom: 0;
    width: 100%;
}

.navbar a {
    float: left;
    display: block;
    color: rgb(0, 210, 255);
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
}

.navbar a:hover {
    background: #f1f1f1;
    color: rgb(0, 210, 255);
}

.navbar a.active {
    background-color: #f1f1f1;
    color: rgb(0, 210, 255);
}

.main {
    padding: 16px;
    margin-bottom: 30px;
}

.image {
    margin: 10px;
    background-color:transparent;
}

.buttonstyle{
    background-color: transparent;
    border: none;
}

.flex-container {
    display: flex;
    background-color: DodgerBlue;
    margin-inline: 50px;
    margin-block: 50px;
    border-radius: 20px;
    padding: 20px;
    width: 100px;
    height: 100px;
  }
  
  .flex-container  {
   display: flex;
  
    
  }

  .card{
    display: flex;
    flex-direction: column;
    background-color: dodgerblue;
  }
  .top-card{
    background-color: #ffffff;
    border-radius: 10px;
    color: black;
    padding: 5px 10px;
    margin-right: 10px;
  }
  .inside{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 10px;
  }
  .circle{
    margin-right: 35px;
  }